<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		<nav>
			<a href="add_movie">Añadir una peli</a>
			<br />
			<a href="see_movies">Ver todas las pelis</a>
			<br />
			<a href="api/movies">La API</a>
		</nav>
		<!-- Future Content here -->
		{% block content %} {% endblock %}
	</body>
</html>
